<div class="backdrop"></div>
<header class="main-header">
    <button id="side-menu-toggle">Menu</button>
    <nav class="main-header__nav">
        <ul class="main-header__item-list">
            <li class="main-header__item">
                <a class="<%= path === '/' ? 'active' : '' %>" href="/">Home</a>
            </li>
            <% if (admin) { %>
                <li class="main-header__item">
                    <a class="<%= path === 'users' ? 'active' : '' %>" href="/admin?token=<%= token  %>">Users</a>
                </li>
                <li class="main-header__item">
                    <a class="<%= path === 'departments' ? 'active' : '' %>" href="/admin/departments?token=<%= token  %>">Departments</a>
                </li>
                <li class="main-header__item">
                    <a class="<%= path === 'courses' ? 'active' : '' %>" href="/admin/courses?token=<%= token  %>">Courses</a>
                </li>
            <% } %>
            <% if (staff) { %>
                <li class="main-header__item">
                    <a class="<%= path === 'courses' ? 'active' : '' %>" href="/staff/materials?token=<%= token  %>">Courses</a>
                </li>
                <li class="main-header__item">
                    <a class="<%= path === 'materials' ? 'active' : '' %>" href="/staff?token=<%= token  %>">Materials</a>
                </li>
                
            <% } %>  
            <% if (user) {%>
                <li class="main-header__item">
                    <a class="<%= path === 'materials' ? 'active' : '' %>" href="/user/materials?token=<%= token  %>">Material</a>
                </li>
            <% } %>
        </ul>
        <ul class="main-header__item-list">
            <% if (!isLoggedIn) { %>
                <li class="main-header__item">
                    <a class="<%= path === '/login' ? 'active' : '' %>" href="/auth/login">Login</a>
                </li>
                <li class="main-header__item">
                    <a class="<%= path === '/signup' ? 'active' : '' %>" href="/auth/signup">Signup</a>
                </li>
            <% } else { %>
                <li class="main-header__item">
                    <form action="/logout" method="post">
                        <button type="submit">Logout</button>
                    </form>
                </li>
            <% } %>
        </ul>
    </nav>
</header>

<nav class="mobile-nav">
    <ul class="mobile-nav__item-list">
        <li class="mobile-nav__item">
            <a class="<%= path === '/' ? 'active' : '' %>" href="/">Home</a>
        </li>
        <% if (admin) { %>
            <li class="main-header__item">
                <a class="<%= path === 'users' ? 'active' : '' %>" href="/admin?token=<%= token  %>">Users</a>
            </li>
            <li class="main-header__item">
                <a class="<%= path === 'departments' ? 'active' : '' %>" href="/admin/departments?token=<%= token  %>">Departments</a>
            </li>
            <li class="main-header__item">
                <a class="<%= path === 'courses' ? 'active' : '' %>" href="/admin/courses?token=<%= token  %>">Courses</a>
            </li>
        <% } %>
        <% if (staff) { %>
            <li class="main-header__item">
                <a class="<%= path === 'courses' ? 'active' : '' %>" href="/staff/materials?token=<%= token  %>">Courses</a>
            </li>
            <li class="main-header__item">
                <a class="<%= path === 'materials' ? 'active' : '' %>" href="/staff?token=<%= token  %>">Materials</a>
            </li>
            
        <% } %>  
        <% if (user) {%>
            <li class="main-header__item">
                <a class="<%= path === 'materials' ? 'active' : '' %>" href="/user/materials?token=<%= token  %>">Material</a>
            </li>
        <% } %>
        <% if (!isLoggedIn) { %>
            <li class="mobile-nav__item">
                <a class="<%= path === '/' ? 'active' : '' %>" href="/login">Login</a>
            </li>
            <li class="mobile-nav__item">
                <a class="<%= path === '/auth/signup' ? 'active' : '' %>" href="/signup">Signup</a>
            </li>
        <% } else { %>
            <li class="mobile-nav__item">
                <form action="/logout" method="post">
                    <button type="submit">Logout</button>
                </form>
            </li>
        <% } %>
    </ul>
</nav>