<div class="backdrop"></div>
<header class="main-header">
    <button id="side-menu-toggle">Menu</button>
    <nav class="main-header__nav">
        <ul class="main-header__item-list">
            <li class="main-header__item">
                <button >CSC E-Learn</button>
            </li>
            <% if (admin) { %>
                <li class="main-header__item">
                    <a class="<%= path === 'users' ? 'active' : '' %>" href="/admin?token=<%= token  %>">Users</a>
                </li>
                <li class="main-header__item">
                    <a class="<%= path === 'departments' ? 'active' : '' %>" href="/admin/departments?token=<%= token  %>">Departments</a>
                </li>
                <li class="main-header__item">
                    <a class="<%= path === 'courses' ? 'active' : '' %>" href="/admin/courses?token=<%= token  %>">Courses</a>
                </li>
            <% } %>
            <% if (staff) { %>
                <li class="main-header__item">
                    <a class="<%= path === 'staff' ? 'active' : '' %>" href="/staff?token=<%= token  %>&level=<%= level %>$userId=<% userId %>">Courses</a>
                </li>
                
            <% } %>  
            <% if (user) {%>
                <li class="main-header__item">
                    <a class="<%= path === 'user' ? 'active' : '' %>" href="/user?token=<%= token  %>&level=<%= level %>">Courses</a>
                </li>
            <% } %>
        </ul>
        <ul class="main-header__item-list">
            <% if (!isLoggedIn) { %>
                <li class="main-header__item">
                    <a class="<%= path === '/login' ? 'active' : '' %>" href="/auth/login">Login</a>
                </li>
                <li class="main-header__item">
                    <a class="<%= path === '/signup' ? 'active' : '' %>" href="/auth/signup">Signup</a>
                </li>
            <% } else { %>
                <li class="main-header__item">
                    <button id="logout" type="submit">Logout</button>
                </li>
            <% } %>
        </ul>
    </nav>
</header>

<nav class="mobile-nav">
    <ul class="mobile-nav__item-list">
        <li class="mobile-nav__item">
            <button >CSC E-Learn</button>
        </li>
        <% if (admin) { %>
            <li class="main-header__item">
                <a class="<%= path === 'users' ? 'active' : '' %>" href="/admin?token=<%= token  %>">Users</a>
            </li>
            <li class="main-header__item">
                <a class="<%= path === 'departments' ? 'active' : '' %>" href="/admin/departments?token=<%= token  %>">Departments</a>
            </li>
            <li class="main-header__item">
                <a class="<%= path === 'courses' ? 'active' : '' %>" href="/admin/courses?token=<%= token  %>">Courses</a>
            </li>
        <% } %>
        <% if (staff) { %>
            <li class="main-header__item">
                <a class="<%= path === 'staff' ? 'active' : '' %>" href="/staff?token=<%= token  %>&level=<%= level %>$userId=<% userId %>">Courses</a>
            </li>
            
        <% } %>  
        <% if (user) {%>
            <li class="main-header__item">
                <a class="<%= path === 'user' ? 'active' : '' %>" href="/user?token=<%= token  %>&level=<%= level %>">Courses</a>
            </li>
        <% } %>
        <% if (!isLoggedIn) { %>
            <li class="mobile-nav__item">
                <a class="<%= path === '/' ? 'active' : '' %>" href="/auth/login">Login</a>
            </li>
            <li class="mobile-nav__item">
                <a class="<%= path === '/auth/signup' ? 'active' : '' %>" href="/auth/signup">Signup</a>
            </li>
        <% } else { %>
            <li id="logout" class="mobile-nav__item">
                <button  type="submit">Logout</button>
            </li>
        <% } %>
    </ul>
</nav>